USE [master]
GO
/****** Object:  Database [TaskManagement]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE DATABASE [TaskManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TaskManagement.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TaskManagement_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[LocalId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SegmentHeadId] [int] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](255) NOT NULL,
	[IsActive] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ProjecteId] [int] NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[PriorityName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectAssignUserIDs]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAssignUserIDs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
 CONSTRAINT [PK_ProjectAssignUserIDs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[projectID] [int] IDENTITY(1,1) NOT NULL,
	[projectName] [nvarchar](1000) NULL,
	[IsActive] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Description] [nvarchar](900) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[projectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[Isactive] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [nvarchar](250) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[StatusId] [nvarchar](50) NULL,
	[PriorityId] [int] NULL,
	[AssignedBy] [int] NOT NULL,
	[AssignedTo] [int] NOT NULL,
	[DueDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[Assigneddate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserManagerMappings]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserManagerMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[ManagerUserId] [int] NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserManagerMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250723061620_login', N'8.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250806101653_AddUserIDToAspNetUsers', N'8.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250806105117_Addloclid', N'8.0.7')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'47A7C6A1-FB10-4376-BC31-B165D3482904', N'Assistant-System-Engineer', N'ASSISTANT-SYSTEM-ENGINEER', N'994633EE-4C9E-4B1A-918C-731E9898EE17')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5F7D0DCF-3E28-4626-8400-9FA8240A8C28', N'technology-lead', N'TECHNOLOGY-LEAD', N'02A4AC25-A3FC-4C67-95B2-294334399B91')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'7BFC64CC-FB2F-4816-A447-93A5117BC86C', N'tpm', N'TPM', N'9C058166-7C0D-4CDF-B3AB-8E51101A66DA')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0cdfbaca-ffb0-469f-8c33-bfeacd72954c', N'47A7C6A1-FB10-4376-BC31-B165D3482904')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'14e2ce69-3f3e-4e3a-aa3b-8be433c450bc', N'47A7C6A1-FB10-4376-BC31-B165D3482904')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'684af400-787d-4ba2-8ea3-3e126e2453d2', N'47A7C6A1-FB10-4376-BC31-B165D3482904')
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [SegmentHeadId]) VALUES (1, N'School Education', 5)
INSERT [dbo].[Departments] ([Id], [Name], [SegmentHeadId]) VALUES (2, N'Recruitment', 7)
INSERT [dbo].[Departments] ([Id], [Name], [SegmentHeadId]) VALUES (1002, N'School Education master', 11)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([ModuleId], [ModuleName], [IsActive], [CreatedDate], [Description], [ProjecteId]) VALUES (1, N'Sambhadhta', N'Y', CAST(N'2025-08-13T06:15:42.0349235' AS DateTime2), N'The Sambaddhta Form on MPOnline is a structured online application for schools to apply for or renew affiliation for the academic year 2025–26. It''s comprehensive, capturing institutional, administrative, and student-related information—with mandatory declarations and integrated payment/receipt mechanisms to ensure transparency and accountability in the process.', 1)
INSERT [dbo].[Modules] ([ModuleId], [ModuleName], [IsActive], [CreatedDate], [Description], [ProjecteId]) VALUES (2, N'Ruk jana nahi', N'Y', CAST(N'2025-08-18T12:12:30.2298845' AS DateTime2), N'Ruk jana nahi', 2)
INSERT [dbo].[Modules] ([ModuleId], [ModuleName], [IsActive], [CreatedDate], [Description], [ProjecteId]) VALUES (3, N'Manayata', N'Y', CAST(N'2025-08-23T07:11:13.6462168' AS DateTime2), N'Manayata Session', 3)
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([PriorityId], [PriorityName]) VALUES (1, N'High')
INSERT [dbo].[Priorities] ([PriorityId], [PriorityName]) VALUES (2, N'Low')
INSERT [dbo].[Priorities] ([PriorityId], [PriorityName]) VALUES (3, N'Medium')
SET IDENTITY_INSERT [dbo].[Priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectAssignUserIDs] ON 

INSERT [dbo].[ProjectAssignUserIDs] ([Id], [ProjectId], [UserId], [ModuleId]) VALUES (1, 1, 4, 1)
INSERT [dbo].[ProjectAssignUserIDs] ([Id], [ProjectId], [UserId], [ModuleId]) VALUES (2, 1, 6, 1)
INSERT [dbo].[ProjectAssignUserIDs] ([Id], [ProjectId], [UserId], [ModuleId]) VALUES (3, 1, 9, 4)
SET IDENTITY_INSERT [dbo].[ProjectAssignUserIDs] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([projectID], [projectName], [IsActive], [CreatedDate], [Description]) VALUES (1, N'MPSS', N'Y', CAST(N'2025-08-13T06:13:55.217' AS DateTime), N'Maharishi patanjali sanskrit sansthan')
INSERT [dbo].[Projects] ([projectID], [projectName], [IsActive], [CreatedDate], [Description]) VALUES (2, N'Open School', N'Y', CAST(N'2025-08-18T12:11:55.347' AS DateTime), N'Open School')
INSERT [dbo].[Projects] ([projectID], [projectName], [IsActive], [CreatedDate], [Description]) VALUES (3, N'DPI', N'Y', CAST(N'2025-08-23T07:10:35.367' AS DateTime), N'DPI school department')
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [name], [Isactive]) VALUES (1, N'Pending', N'Y')
INSERT [dbo].[Status] ([Id], [name], [Isactive]) VALUES (2, N'In Progress', N'Y')
INSERT [dbo].[Status] ([Id], [name], [Isactive]) VALUES (3, N'Completed', N'Y')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskId], [ProjectId], [Title], [Description], [StatusId], [PriorityId], [AssignedBy], [AssignedTo], [DueDate], [CreatedAt], [Assigneddate]) VALUES (1, N'1', N'fdsg', N'fgsdg', N'2', 2, 12, 0, CAST(N'2025-08-21' AS Date), CAST(N'2025-08-28T09:20:31.737' AS DateTime), CAST(N'2025-08-27T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Tasks] ([TaskId], [ProjectId], [Title], [Description], [StatusId], [PriorityId], [AssignedBy], [AssignedTo], [DueDate], [CreatedAt], [Assigneddate]) VALUES (2, N'1', N' Title', N'Description', N'1', 1, 12, 0, CAST(N'2025-08-29' AS Date), CAST(N'2025-08-28T10:19:40.417' AS DateTime), CAST(N'2025-08-28T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Tasks] ([TaskId], [ProjectId], [Title], [Description], [StatusId], [PriorityId], [AssignedBy], [AssignedTo], [DueDate], [CreatedAt], [Assigneddate]) VALUES (3, N'1', N'Title', N'Description', N'1', 1, 12, 6, CAST(N'2025-08-29' AS Date), CAST(N'2025-08-28T10:21:08.757' AS DateTime), CAST(N'2025-08-28T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[UserManagerMappings] ON 

INSERT [dbo].[UserManagerMappings] ([Id], [DepartmentId], [ManagerUserId], [UserId], [CreatedAt]) VALUES (1, 1, 1, 2, CAST(N'2025-08-20T10:18:52.8222844' AS DateTime2))
INSERT [dbo].[UserManagerMappings] ([Id], [DepartmentId], [ManagerUserId], [UserId], [CreatedAt]) VALUES (2, 1, 2, 4, CAST(N'2025-08-20T10:19:07.2246550' AS DateTime2))
INSERT [dbo].[UserManagerMappings] ([Id], [DepartmentId], [ManagerUserId], [UserId], [CreatedAt]) VALUES (3, 1, 2, 3, CAST(N'2025-08-20T10:19:07.2246556' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserManagerMappings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 28-08-2025 05:33:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Prioriti__346EBED625B91832]    Script Date: 28-08-2025 05:33:48 PM ******/
ALTER TABLE [dbo].[Priorities] ADD UNIQUE NONCLUSTERED 
(
	[PriorityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [LocalId]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0)) FOR [SegmentHeadId]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((0)) FOR [ProjecteId]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Assigneddate]
GO
ALTER TABLE [dbo].[UserManagerMappings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[GetDepartmentHierarchy]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[GetDepartmentHierarchy]
AS
BEGIN
    SELECT 
        d.Id AS DepartmentId,
        d.Name AS DepartmentName,

        -- Segment Head Info
        sh.LocalId AS SegmentHeadLocalId,
        sh.FullName AS SegmentHeadName,
        sr.Name AS SegmentHeadRole,

        -- Manager Info
        m.LocalId AS ManagerLocalId,
        m.FullName AS ManagerName,
        mr.Name AS ManagerRole,

        -- User Info
        u.LocalId AS UserLocalId,
        u.FullName AS UserName,
        ur.Name AS UserRole,

        um.CreatedAt
    FROM UserManagerMappings um
    INNER JOIN Departments d ON um.DepartmentId = d.Id

    -- User
    INNER JOIN AspNetUsers u ON um.UserId = u.LocalId
    LEFT JOIN AspNetUserRoles urmap ON u.Id = urmap.UserId
    LEFT JOIN AspNetRoles ur ON urmap.RoleId = ur.Id

    -- Manager
    INNER JOIN AspNetUsers m ON um.ManagerUserId = m.LocalId
    LEFT JOIN AspNetUserRoles mrmap ON m.Id = mrmap.UserId
    LEFT JOIN AspNetRoles mr ON mrmap.RoleId = mr.Id

    -- Segment Head
    LEFT JOIN AspNetUsers sh ON d.SegmentHeadId = sh.LocalId
    LEFT JOIN AspNetUserRoles srmap ON sh.Id = srmap.UserId
    LEFT JOIN AspNetRoles sr ON srmap.RoleId = sr.Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartmentHierarchy]    Script Date: 28-08-2025 05:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create PROCEDURE [dbo].[sp_GetDepartmentHierarchy]
AS
BEGIN
    SELECT 
        d.Id AS DepartmentId,
        d.Name AS DepartmentName,

        -- Segment Head Info
        sh.LocalId AS SegmentHeadLocalId,
        sh.FullName AS SegmentHeadName,
        sr.Name AS SegmentHeadRole,

        -- Manager Info
        m.LocalId AS ManagerLocalId,
        m.FullName AS ManagerName,
        mr.Name AS ManagerRole,

        -- User Info
        u.LocalId AS UserLocalId,
        u.FullName AS UserName,
        ur.Name AS UserRole,

        um.CreatedAt
    FROM UserManagerMappings um
    INNER JOIN Departments d ON um.DepartmentId = d.Id

    -- User
    INNER JOIN AspNetUsers u ON um.UserId = u.LocalId
    LEFT JOIN AspNetUserRoles urmap ON u.Id = urmap.UserId
    LEFT JOIN AspNetRoles ur ON urmap.RoleId = ur.Id

    -- Manager
    INNER JOIN AspNetUsers m ON um.ManagerUserId = m.LocalId
    LEFT JOIN AspNetUserRoles mrmap ON m.Id = mrmap.UserId
    LEFT JOIN AspNetRoles mr ON mrmap.RoleId = mr.Id

    -- Segment Head
    LEFT JOIN AspNetUsers sh ON d.SegmentHeadId = sh.LocalId
    LEFT JOIN AspNetUserRoles srmap ON sh.Id = srmap.UserId
    LEFT JOIN AspNetRoles sr ON srmap.RoleId = sr.Id
END
GO
USE [master]
GO
